@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0f0e3b;
}

.main {
  background: #1b2068;
  width: 25vw;
  height: 68vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
}

.search {
  /* display: block; */
  border-radius: 5vh;
  margin-top: 17px;
  padding: 4px 9px;
  height: 4vh;
  width: 18vw;
  font-family: "Ubuntu", sans-serif;
  border: 2px;
}

.btn {
  border-radius: 100%;
  height: 7.5vh;
  width: 3.5vw;
  background: white;
  margin: 9px 4px;
  padding: 8px;
  border: 2px;
}

.btn:hover {
  cursor: pointer;
}

.btn img {
  height: 4.5vh;
  width: 2vw;
}

.display {
  color: white;
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-areas:
    "iconDiv iconDiv iconDiv iconDiv"
    "temp temp temp temp"
    "name name name name"
    "desc desc desc desc"
    "temp_min temp_min temp_max temp_max"
    "humidity humidity speed speed"
    "clouds clouds pressure pressure";
  justify-items: center;
  grid-gap: 2vh;
}

.display #temp {
  grid-area: temp;
  font-size: 10vh;
  /* margin-top: 3vh; */
}

.display #iconDiv {
  grid-area: iconDiv;
}

.display .wethData #icon {
  margin-top: 2vh;
}

.display #desc {
  grid-area: desc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display #min {
  grid-area: temp_min;
  /* font-size: 10vh;
    margin-top: 3vh; */
}

.display #max {
  grid-area: temp_max;
  /* font-size: 10vh;
    margin-top: 3vh; */
}

.display #name {
  grid-area: name;
  /* font-size: 10vh;
    margin-top: 3vh; */
}

.display #humidity {
  grid-area: humidity;
  /* font-size: 10vh;
    margin-top: 3vh; */
}

.display #speed {
  grid-area: speed;
  /* font-size: 10vh;
    margin-top: 3vh; */
}

.display #clouds {
  grid-area: clouds;
  /* font-size: 10vh;
    margin-top: 3vh; */
}

.display #pressure {
  grid-area: pressure;
  /* font-size: 10vh;
    margin-top: 3vh; */
}

/*^ Responsiveness */

@media (max-width: 1280px) {
  .main {
    width: 80%;
    height: 65%;
  }
}

@media (max-width: 1025px) {
  .main {
    height: 65%;
    width: 84%;
  }

  .search {
    margin-top: 1.7vh;
    width: 45vw;
  }

  .btn {
    width: 11.5vw;
  }

  .btn img {
    width: 7vw;
  }

  .display .wethData {
    font-size: 3vh;
  }
}

@media (max-width: 550px) {
  .main {
    height: 70%;
  }
}

@media (max-width: 450px) {
  .main {
    width: 95%;
    height: 60%;
  }

  .search {
    height: 4vh;
    width: 44vw;
  }

  .btn {
    height: 6.5vh;
    width: 14.5vw;
    margin: 11px 4px;
  }

  .btn img {
    width: 10vw;
  }

  .display .wethData {
    font-size: 2vh;
  }
}

@media (max-width: 390px) {
  .main {
    height: 70%;
  }
}

@media (max-width: 290px) {
  .main {
    height: 66%;
    width: 96%;
  }
}
